*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:linear-gradient(135deg,#0f0c29,#302b63,#24243e);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.container{

    width:100%;
    max-width:550px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(20px);
    padding:40px;
    border-radius:20px;
    box-shadow:0 20px 40px rgba(0,0,0,.4);

}

h1{

    text-align:center;
    color:white;
    margin-bottom:10px;

}

.subtitle{

    text-align:center;
    color:#d7d1ff;
    margin-bottom:35px;

}

.input-group{

    display:flex;
    flex-direction:column;
    margin-bottom:22px;

}

label{

    color:white;
    margin-bottom:8px;
    font-weight:500;

}

input,
select{

    padding:15px;
    border-radius:10px;
    border:1px solid rgba(255,255,255,.25);
    background:rgba(255,255,255,.08);
    color:white;
    font-size:15px;
    outline:none;
    transition:.3s;

}

input::placeholder{

    color:#bdb7df;

}

input:focus,
select:focus{

    border-color:#9b5cff;
    box-shadow:0 0 10px rgba(155,92,255,.5);

}

.gender{

    display:flex;
    justify-content:space-between;
    margin-top:8px;

}

.gender label{

    display:flex;
    align-items:center;
    gap:6px;
    margin:0;

}

.gender input{

    width:auto;
    accent-color:#9b5cff;

}

button{

    width:100%;
    padding:15px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    background:#7c3aed;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.3s;

}

button:hover{

    background:#6528e0;

}

.error{

    color:#ff7272;
    font-size:13px;
    margin-top:5px;
    height:16px;

}

@media(max-width:600px){

.container{

    padding:25px;

}

.gender{

    flex-direction:column;
    gap:10px;

}

}
